:root {
    --primary-color: #4e6172;
    --secondary-color: #ffe2d1;
    --tertiary-color: #ad7a99;
    --dark-color: #1f271b; 
}

* {
    margin: 0;
    padding: 0;
    font-family: OCR A Std, monospace;
}

body {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

header {
    padding: 25px 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    flex-wrap: wrap;
}

header h1 {
    font-size: 38px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5vw;
    color: var(--tertiary-color);
    font-weight: bold;
}

.hero {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero img {
    height: 250px;
    width: 200px;
    background-color: var(--tertiary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

footer ul li {
    padding: 0 30px;
    margin-right: 70px;
}

footer a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5vw;
    border-bottom: 5px solid var(--tertiary-color);
    color: var(--primary-color);
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-flow: row;
}

.about-me h2, .work h2, footer h2 {
    padding: 5px 25px;
    margin: 10px;
    font-size: 2.4vw;
    border-right: 5px solid var(--tertiary-color);
    width: 20%;
}

.about-me p {
    padding: 20px;
    text-align: start;
    font-size: 1.3vw;
}

.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.work a {
    margin-right: 50px;
    text-decoration: none;
    height: 200px;
    width: 250px;
    background-color: #4e6172;
}

.project-box {
    display: flex;
}

.project {
    margin: 7px;
    padding: 5px;
    
}